body {
    text-align: center;
    background-color: #023603;
}
h1 {
    text-align: center;
}
.container {
    display: center;
}

.grid {
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
    place-items: center;
    border:5px solid black; 
    display:grid; 
    flex-wrap:wrap; 
    height:276px; 
    width:330px; 
    background: white;
}
.grid-item {
    height:40px; 
    width:40px; 
    margin: 3px;
    border: 3px solid black;
    border-radius: 50%;
}